<% @title = "インストラクタートップページ" %>
<h1><%= @title %></h1>
<div class="center jumbotron">
  <h2>Welcome to YOGA WORLD</h2>

  <h3>こちらのページは、インストラクターの方向けのページです。</h3>

  <%= link_to "Sign up now!", instructor_signup_path, class: "btn btn-lg btn-primary" %>
</div>
