<div id="error">
  <h1>403 Forbbiden</h1>
  <p>
    <%=
     case @exception
     when ApplicationController::IpAddresRejected
     "あなたのIPアドレス(#{request.ip})からは利用できません。"
     else
      "指定されたページを閲覧する権限がありません。"
     end
    %>
  </p>
</div>